@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 100% 60%; /* Light Red */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 100% 60%; /* Bright Red */
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 100% 50%; /* Strong Red */
    --accent-foreground: 0 0% 9%;
    --destructive: 0 100% 50%; /* Bright Red */
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 100% 70%; /* Light Red */
    --radius: 0.5rem;
    --chart-1: 0 100% 60%; /* Light Red */
    --chart-2: 0 100% 50%; /* Strong Red */
    --chart-3: 0 100% 40%; /* Darker Red */
    --chart-4: 0 100% 70%; /* Light Red */
    --chart-5: 0 100% 50%; /* Strong Red */
    --highlight: 0 100% 50%; /* Bright Red */
    --highlight-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 20%; /* Dark Red */
    --foreground: 0 0% 98%;
    --card: 0 0% 20%; /* Dark Red */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 20%; /* Dark Red */
    --popover-foreground: 0 0% 98%;
    --primary: 0 100% 40%; /* Darker Red */
    --primary-foreground: 0 0% 9%;
    --secondary: 0 100% 50%; /* Strong Red */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 100% 30%; /* Darker Red */
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 100% 50%; /* Strong Red */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 40%; /* Darker Red */
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%; /* Dark Red */
    --input: 0 0% 30%; /* Dark Red */
    --ring: 0 100% 50%; /* Light Red */
    --chart-1: 0 100% 50%; /* Strong Red */
    --chart-2: 0 100% 40%; /* Darker Red */
    --chart-3: 0 100% 30%; /* Darker Red */
    --chart-4: 0 100% 40%; /* Darker Red */
    --chart-5: 0 100% 30%; /* Darker Red */
    --highlight: 0 100% 50%; /* Bright Red */
    --highlight-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
